<!DOCTYPE html>
<html>
<head>
  <title>MediaRanker</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <!--<meta name="viewport" content="width=device-width, initial-scale=1"> from bootstrap -->
</head>

<body>

    <div id = "page-header">

      <!-- note how home_path is used in this link to the home page -->
      <%= link_to 'Media-Ranker', home_path %>

      <h3>Ranking the Best of Everything</h3>
    </div>

  <div>
    <%= yield %>
  </div>

</body>
</html>
